.mainSec {
  background-image: url("https://i.ibb.co/Np09fdy/image-4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
}
.mainSec_info {
  font-weight: 400;
  font-size: 60px;
  color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  text-align: center;
}
.mainSec_btn {
  background-color: transparent;
  border: #20bf55 1px solid;
  color: white;
  margin-top: 2rem;
  width: 18rem;
  height: 2.5rem;
  border-radius: 6px;
  font-size: 20px;
  transition: 0.3s;
}
.mainSec_btn:hover {
  cursor: pointer;
  background-color: #20bf55;
  box-shadow: #26e265 0px 0px 15px;
}
#green {
  color: #20bf55;
}
