.mainSec {
  /* background-image: url("https://i.ibb.co/Np09fdy/image-4.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.mainSec_info {
  position: absolute;
  z-index: 2;
  font-weight: 400;
  font-size: 60px;
  color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.mainSec_btn {
  background-color: transparent;
  border: #20bf55 1px solid;
  color: white;
  margin-top: 2rem;
  width: 18rem;
  height: 2.5rem;
  border-radius: 6px;
  font-size: 20px;
  transition: 0.3s;
}
.mainSec_btn:hover {
  cursor: pointer;
  background-color: #20bf55;
  box-shadow: #26e265 0px 0px 15px;
}
#green {
  color: #20bf55;
}

/* Tables */

.tables {
  display: flex;
  overflow-x: hidden;
  z-index: 1;
}
.tables table {
  /* width: 100%; */
  border-spacing: 2px;
  width: max-content;
  table-layout: fixed;
}
.tables tr {
}
.tables td {
  width: 70px !important;
  height: 70px;
  background-color: #000000;
  transition: 2s;
  background-size: 400% 400%;
}
.tables td:hover {
  transition: 0s;
  background-color: #00fd94;
}
.tables td:active {
  transition: 1s;
  background-color: #008bfd !important;
}
