@import "tailwindcss";
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Press Start 2P", "VT323", "Share Tech Mono", monospace;
}
.containers {
  max-width: 95%;
  margin: 0 auto;
}
